.preloading {width: 100%; 
text-align: center;
height: 100%;
position: fixed;
background: #000000;
z-index: 999999;
top: 0px; 
display: table; 
left:0}
.preloading .textpreload {
display: table-cell; 
text-align: center; 
vertical-align: middle;}
