@font-face {
  font-family: 'typewritter';
  src: URL('typewritter.ttf') format('truetype');}

@font-face {
  font-family: 'typewritter';
  src: URL('heavydata.ttf') format('heavydata');}

body{
  background-color: Black;
  font-family: "typewritter";
  color: White;}
  
  
