/* portrait */
@media screen and (orientation: portrait){
  .error{
    position: absolute;
    font-size: 20vw;
    top: 15%;
    left: 15%;
    -moz-transform: translate(-15%, -15%);
    -webkit-transform: translate(-15%, -15%);
    transform: translate(-15%, -15%);
    }
  .line{
    position: absolute;
    font-size: 20vw;
    top: 13%;
    left: 50%;
    -moz-transform: translate(-50%, -13%);
    -webkit-transform: translate(-50%, -13%);
    transform: translate(-50%, -13%);
	}
  .pagenotfound{
    position: absolute;
    font-size: 3vw;
    top: 30%;
    left: 85%;
    -moz-transform: translate(-85%, -30%);
    -webkit-transform: translate(-85%, -30%);
    transform: translate(-85%, -30%);
	white-space: pre;
	}
  .button-back-to-previous{
    position: absolute;
    top: 55%;
    left: 19%;
    -moz-transform: translate(-19%, -55%);
    -webkit-transform: translate(-19%, -55%);
    transform: translate(-19%, -55%);
    font-family: "typewritter";
    font-size: 4vw;
    color: DarkGrey;
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
	}
  .button-back-to-previous:hover{
    color: White;
	}
  .button-back-to-the-portal{
    position: absolute;
    top: 63%;
    left: 20%;
    -moz-transform: translate(-20%, -63%);
    -webkit-transform: translate(-20%, -63%);
    transform: translate(-20%, -63%);
    font-family: "typewritter";
    font-size: 4vw;
    color: DarkGrey;
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
	}
  .button-back-to-the-portal:hover{
    color: White;
	}
}
/* landscape */
@media screen and (orientation: landscape){
  .error{
    position: absolute;
    font-size: 13vw;
    top: -10%;
    left: 10%;
    -moz-transform: translate(-10%, -10%);
    -webkit-transform: translate(-10%, -10%);
    transform: translate(-10%, -10%);
    }
  .line{
    position: absolute;
    font-size: 13vw;
    top: -13%;
    left: 33%;
    -moz-transform: translate(-33%, -13%);
    -webkit-transform: translate(-33%, -13%);
    transform: translate(-33%, -13%);
	}
  .pagenotfound{
    position: absolute;
    font-size: 2vw;
    top: 24%;
    left: 48%;
    -moz-transform: translate(-48%, -24%);
    -webkit-transform: translate(-48%, -24%);
    transform: translate(-48%, -24%);
	white-space: pre;
	}
  .button-back-to-previous{
    position: absolute;
    top: 68%;
    left: 10%;
    -moz-transform: translate(-10%, -68%);
    -webkit-transform: translate(-10%, -68%);
    transform: translate(-10%, -68%);
    font-family: "typewritter";
    font-size: 2.4vw;
    color: DarkGrey;
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
	}
  .button-back-to-previous:hover{
    color: White;
	}
  .button-back-to-the-portal{
    position: absolute;
    top: 85%;
    left: 10%;
    -moz-transform: translate(-10%, -85%);
    -webkit-transform: translate(-10%, -85%);
    transform: translate(-10%, -85%);
    font-family: "typewritter";
    font-size: 2.4vw;
    color: DarkGrey;
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
	}
  .button-back-to-the-portal:hover{
    color: White;
	}
}
