/* portrait */
@media screen and (orientation: portrait){
  .logo-sword{
    position: absolute;
    margin: auto;
    top: 100%;
    left: 100%;
    -moz-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
    width: 40vw;
	}
  .button-story{
    position: absolute;
    top: 40%;
    left: 9%;
    -moz-transform: translate(-9%, -40%);
    -webkit-transform: translate(-9%, -40%);
    transform: translate(-9%, -40%);
    font-family: "typewritter";
    font-size: 4vw;
    color: DarkGrey;
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
	}
  .button-notes{
    position: absolute;
    top: 48%;
    left: 9%;
    -moz-transform: translate(-9%, -48%);
    -webkit-transform: translate(-9%, -48%);
    transform: translate(-9%, -48%);
    font-family: "typewritter";
    font-size: 4vw;
    color: DarkGrey;
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
	}
  .button-unarchived-files{
    position: absolute;
    top: 56%;
    left: 12%;
    -moz-transform: translate(-10%, -56%);
    -webkit-transform: translate(-10%, -56%);
    transform: translate(-10%, -56%);
    font-family: "typewritter";
    font-size: 4vw;
    color: DarkGrey;
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
	}
  .button-about{
    position: absolute;
    top: 64%;
    left: 9%;
    -moz-transform: translate(-10%, -64%);
    -webkit-transform: translate(-10%, -64%);
    transform: translate(-10%, -64%);
    font-family: "typewritter";
    font-size: 4vw;
    color: DarkGrey;
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
	}
  .button-story:hover{
    color: White;
	}
  .button-notes:hover{
    color: White;
	}
  .button-unarchived-files:hover{
    color: White;
	}
  .button-about:hover{
    color: White;
	}
}
/* landscape */
@media screen and (orientation: landscape){
  .logo{
    position: absolute;
    margin: auto;
    top: 100%;
    left: 90%;
    -moz-transform: translate(-90%, -100%);
    -webkit-transform: translate(-90%, -100%);
    transform: translate(-90%, -100%);
    width: 15vw;
	}
  .button-story{
    position: absolute;
    top: 25%;
    left: 5%;
    -moz-transform: translate(-5%, -25%);
    -webkit-transform: translate(-5%, -25%);
    transform: translate(-5%, -25%);
    font-family: "typewritter";
    font-size: 2.4vw;
    color: DarkGrey;
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
	}
  .button-notes{
    position: absolute;
    top: 40%;
    left: 5%;
    -moz-transform: translate(-5%, -40%);
    -webkit-transform: translate(-5%, -40%);
    transform: translate(-5%, -40%);
    font-family: "typewritter";
    font-size: 2.4vw;
    color: DarkGrey;
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
	}
  .button-unarchived-files{
    position: absolute;
    top: 55%;
    left: 6%;
    -moz-transform: translate(-6%, -55%);
    -webkit-transform: translate(-6%, -55%);
    transform: translate(-6%, -55%);
    font-family: "typewritter";
    font-size: 2.4vw;
    color: DarkGrey;
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
	}
  .button-about{
    position: absolute;
    top: 70%;
    left: 5%;
    -moz-transform: translate(-5%, -70%);
    -webkit-transform: translate(-5%, -70%);
    transform: translate(-5, -70%);
    font-family: "typewritter";
    font-size: 2.4vw;
    color: DarkGrey;
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
	}
  .button-story:hover{
    color: White;
	}
  .button-notes:hover{
    color: White;
	}
  .button-unarchived-files:hover{
    color: White;
	}
  .button-about:hover{
    color: White;
	}
}
