/* portrait */
@media screen and (orientation: portrait){
  .logo{
    position: absolute;
    margin: auto;
    top: 30%;
    left: 53%;
    -moz-transform: translate(-53%, -30%);
    -webkit-transform: translate(-53%, -30%);
    transform: translate(-53%, -30%);
    width: 75vw;
	}
  .button-start{
    position: absolute;
    top: 52%;
    left: 50%;
    -moz-transform: translate(-50%, -52%);
    -webkit-transform: translate(-50%, -52%);
    transform: translate(-50%, -52%);
    font-family: "typewritter";
    font-size: 4vw;
    color: DarkGrey;
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
	}
  .button-start:hover{
    color: White;
	}
  .footer{
    position: absolute;
    top: 58%;
    left: 50%;
    -moz-transform: translate(-50%, -58%);
    -webkit-transform: translate(-50%, -58%);
    transform: translate(-50%, -58%);
    font-family: "typewritter";
    font-size: 3vw;
    color: White;
    background-color: transparent;
    text-align: center;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
	}
}
 /* landscape */
  @media screen and (orientation: landscape){
	.logo{
      position: absolute;
      margin: auto;
      top: 15%;
      left: 50%;
      -moz-transform: translate(-50%, -15%);
      -webkit-transform: translate(-50%, -15%);
      transform: translate(-50%, -15%);
      width: 45vw;
	  }
	.button-start{
	  position: absolute;
	  top: 65%;
	  left: 50%;
      -moz-transform: translate(-50%, -65%);
      -webkit-transform: translate(-50%, -65%);
      transform: translate(-50%, -65%);
      font-family: "typewritter";
      font-size: 2.4vw;
      color: DarkGrey;
      background-color: transparent;
      padding: 10px 10px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      border: none;
      outline: none !important;
      white-space: nowrap;
      overflow: hidden;
	  }
    .button-start:hover{
      color: White;
	  }
    .footer{
	  position: absolute;
      top: 80%;
      left: 50%;
      -moz-transform: translate(-50%, -80%);
      -webkit-transform: translate(-50%, -80%);
      transform: translate(-50%, -80%);
      font-family: "typewritter";
      font-size: 1.8vw;
      color: White;
      background-color: transparent;
      text-align: center;
      border: none;
      outline: none !important;
      white-space: nowrap;
      overflow: hidden;
	  }
}
