html body{
  height: 100%;
  background-color:#181425FF;
  font-family: "pixel";
  color: white;
}
/* for portrait rotation mode*/
@media screen and (orientation: portrait){
  .arcademachine{
    position: absolute; margin: auto;
    top: 100%; left: 50%;
    -moz-transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    width: 100vw;
    overflow: hidden;
    scroll: no;
  }
  .textbutton{
    position: absolute;
    top: 64%;
    left: 50%;
    -moz-transform: translate(-50%, -64%);
    -webkit-transform: translate(-50%, -64%);
    transform: translate(-50%, -64%);
    font-family: "pixel";
    font-size: 3.5vw;
    color: darkgrey;
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
    animation: color-change 1.5s infinite;
	}
  .textbutton:hover{
    color: white;
  }
  @keyframes color-change{
    0% {color: darkgrey;}
    50% {color: white;}
  }
}
 /* for landscape rotation mode*/
  @media screen and (orientation: landscape){
  .arcademachine{
    position: absolute; margin: auto;
    top: 99%; left: 50%;
    -moz-transform: translate(-50%, -99%);
    -webkit-transform: translate(-50%, -99%);
    transform: translate(-50%, -99%);
    width: 41.4vw;
    overflow: hidden;
    scroll: no;
  }
  .textbutton{
    position: absolute;
    top: 47%;
    left: 49.7%;
    -moz-transform: translate(-49.7%, -47%);
    -webkit-transform: translate(-49.7%, -47%);
    transform: translate(-49.7%, -47%);
    font-family: "pixel";
    font-size: 1.6vw;
    color: darkgrey;
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none !important;
    white-space: nowrap;
    overflow: hidden;
    animation: color-change 1.5s infinite;
	}
  .textbutton:hover{
    color: white;
  }
  @keyframes color-change{
    0% {color: darkgrey;}
    50% {color: white;}
  }
}
}